# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore ChromeDriver downloads if any
chromedriver.exe

# Ignore IDE settings (PyCharm, VSCode)
.idea/
.vscode/

# Ignore logs
*.log

# Ignore environment settings
.env
